*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("https://i.postimg.cc/9QqtCCFp/brooke-lark-08b-OYn-H-r-E-unsplash-1.jpg");
  background-size: cover;
  background-position-y: -5rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif; }

.heading__primary {
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease; }
  .heading__primary:hover {
    transform: scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading__secondary {
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1rem;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer; }
  .heading__secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: scale(1.3); }

.mb-sm {
  margin-bottom: 2rem !important; }

.mb-md {
  margin-bottom: 4rem !important; }

.mb-bg {
  margin-bottom: 6rem !important; }

.mb-lg {
  margin-bottom: 8rem !important; }

.text-center {
  text-align: center; }

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 4.5rem;
  padding: 2rem 0; }
  .nav a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 5rem;
    text-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s all ease-in-out;
    margin-right: 2rem; }
  .nav svg {
    fill: #FA709A;
    width: 5.5rem;
    height: 5.5rem; }
  .nav__brand {
    letter-spacing: 2rem;
    font-size: 5rem; }
    .nav__brand:hover {
      font-weight: 600;
      letter-spacing: 2.5rem;
      -webkit-text-fill-color: transparent;
      transform: scale(1.05); }
  .nav__list {
    display: flex;
    list-style: none; }
  .nav__link:hover {
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    -webkit-text-fill-color: transparent;
    transform: scale(1.05); }
  .nav .nav__link--number {
    position: relative;
    -webkit-text-fill-color: unset; }
    .nav .nav__link--number span {
      position: absolute;
      z-index: 6;
      top: 50%;
      color: #FA709A;
      font-size: 1.3rem;
      left: 50%;
      transform: translate(-50%, -50%); }

.header {
  height: 80vh;
  position: relative; }
  .header > * {
    position: absolute; }
  .header h1 {
    top: 20%;
    left: 52%;
    transform: translate(-50%, -50%);
    animation: moveInLeft 2s ease-in-out; }
  .header h2 {
    top: 50%;
    right: 25%;
    transform: translate(50%);
    animation: moveInRight 2s ease-in-out; }
  .header a {
    top: 80%;
    right: 5%;
    animation: moveInBottom 2s ease-in-out; }

.btn {
  text-decoration: none;
  display: inline-block;
  outline: none;
  transition: all 0.2s ease-in-out; }
  .btn:link, .btn:active {
    text-decoration: none; }
  .btn--started {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    padding: 4rem;
    color: #FA709A;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); }
  .btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
    transform: scale(1.1); }
  .btn--more, .btn--more:visited, .btn--more:link {
    font-size: 2rem;
    font-weight: 600;
    background-image: linear-gradient(179.9deg, #d9a404 10.7%, #f27405 113.2%);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
    .btn--more:link, .btn--more:active, .btn--more:focus, .btn--more:visited:link, .btn--more:visited:active, .btn--more:visited:focus, .btn--more:link:link, .btn--more:link:active, .btn--more:link:focus {
      color: currentColor; }
  .btn--checkout {
    margin-top: auto;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    font-weight: 900;
    background-color: darkorange;
    border: none;
    color: white;
    font-family: inherit;
    transition: all 0.2s ease-in-out; }
    .btn--checkout:focus {
      outline-color: #ccc; }
    .btn--checkout:hover {
      color: #7d7d7d;
      cursor: pointer;
      background-color: #FEE140;
      background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 0.3rem; }

.section__overview {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5rem;
  grid-gap: 8rem; }
  .section__overview > div {
    height: 50rem;
    border-radius: 0.3rem; }
    .section__overview > div img {
      width: 100%; }

.cart {
  font-size: 1.6rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }
  .cart__photo {
    position: relative;
    z-index: 3;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    .cart__photo--fix {
      height: 58%; }
  .cart__hot {
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    z-index: 2;
    top: -5.4%;
    right: 0; }
  .cart__body--heading {
    display: inline;
    font-size: 3rem;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .cart__body ul {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem; }
    .cart__body ul li {
      flex: 0 0 50%;
      list-style: none;
      margin-bottom: 2.5rem;
      color: darkorange;
      font-size: 1.8rem;
      transition: all 0.2s ease-in-out; }
      .cart__body ul li:hover {
        cursor: pointer;
        transform: scale(1.05); }
  .cart:hover {
    transform: scale(1.1);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5); }

.cart-dropdown {
  position: absolute;
  width: 40rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border: 1px solid #FF9A8B;
  background-color: white;
  top: 9rem;
  right: 4rem;
  z-index: 5; }
  .cart-dropdown .empty-message {
    font-size: 3rem;
    margin: 9rem auto;
    color: #ccc; }

.section-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 35rem); }
