.cart {
	font-size: 1.6rem;
	position: relative;
	transition: all 0.2s ease-in-out;
	cursor:pointer;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	&__photo{
		position: relative;
		z-index: 3;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		&--fix{
			height: 58%;
		}
		
	}
	&__hot{
		width: 4.5rem;
		height: 4.5rem;
		position: absolute;
		z-index: 2;
		top: -5.4%;
		right: 0;

	}
	&__body{
		&--heading {
			display: inline;
			font-size: 3rem;
			background-color: #FF9A8B;
            background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

			-webkit-background-clip: text;
		   	-webkit-text-fill-color: transparent;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 5rem;
			li{ 
				flex:0 0 50%;
				list-style: none;
				margin-bottom: 2.5rem;
				color: darkorange;
				font-size: 1.8rem;
				transition: all 0.2s ease-in-out;
				&:hover{
					cursor: pointer;
					transform: scale(1.05);

				}
			}
		}
	}
	&:hover{
		transform: scale(1.1);
		box-shadow: 0 2rem 4rem rgba(0,0,0,0.5);

	}

}
.cart-dropdown{
  position: absolute;
  width: 40rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border: 1px solid #FF9A8B;
  background-color: white;
  top: 9rem;
  right: 4rem;
  z-index: 5;
  .empty-message {
  	font-size: 3rem;
    margin: 9rem auto;
    color: #ccc;
  }

}

.cart-item{
	
	&__photo{
		background-size: cover;
		height: 60%;
		&--1{
			background-image: url("https://images.pexels.com/photos/674578/pexels-photo-674578.jpeg");
		}
		&--2{
			background-image: url("https://i.postimg.cc/W4Nypq8q/alex-munsell-Yr4n8-O-3-UPc-unsplash.jpg")
		}
		&--3{
			background-image: url("https://i.postimg.cc/Z0kpcqLx/tai-s-captures-Ji-RSy0-Gfq-PA-unsplash.jpg")
		}
		&--4{
			background-image:url("https://images.pexels.com/photos/2338015/pexels-photo-2338015.jpeg");
		}
		&--5{
			background-image:url("https://images.pexels.com/photos/2087748/pexels-photo-2087748.jpeg");
		}
		&--6{
			background-image: url("https://images.pexels.com/photos/5944/food-lunch-mexican-nachos.jpg")
		}
	}	
	&__body{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:  2rem;
		flex-direction: column;
		height: 40%;
		color: white;
		ul{
			li {
				list-style: none;
				padding: 0.25rem 0.5rem;
				margin-bottom: 0.5rem;
				font-size: 1.6rem;
    			line-height: 3rem;
			}
		}
		h5{
			font-size: 2.25rem;
			letter-spacing: 3px;
			color: #d8604e;
			font-weight: 600;
			text-shadow: 0 1rem 2.5rem rgba(0,0,0,0.25)
  

		}
	}
}