html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
}
.heading__primary { 
    font-size: 4.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover{
        transform: scale(1.2);
        text-shadow: .5rem 1rem 2rem rgba(0,0,0,0.2);
    }

}
.heading__secondary{
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1rem;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover{
        text-shadow: .5rem 1rem 2rem rgba(0,0,0,0.2);
        transform: scale(1.3);
    }
}
